* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    font-family: Arial;
}

.img-button {
    width: 40px;
    height: auto;
    padding: 10px;

    left: 0px;
    bottom: 0px;
    position: fixed;
    display: block;

    color: black;
    background-color: black;

    cursor: pointer;
}


/* Editor */
.container {
    right: 20px;
    bottom: 20px;
    position: fixed;
}

#editor {
    resize: none;
}

#run-button {
    height: 30px;
    display: block;

    text-align: center;
    line-height: 30px;

    color: white;
    border: 1px solid white;
    background-color: transparent;
}

#run-button:hover {
    cursor: pointer;

    color: black;
    background-color: white;
    border: 1px solid transparent;
}
